h1{
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: white;
  font-size: 20px;
}

video{
  display: block;
  margin: 0 auto;
  /*padding:5px;*/
}

table{
  width: 100%;
}

.interview{
  text-align: center;
  color:black;
  background-color: rgba(255,255,255,0.7);
}

.fish{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.bubble{
  position: absolute;
  padding-top:10px;
  right:110px;
  bottom:10px
}

.goproButton{
  background:white;
  padding:5px;
}

.ui-page {
    background: lightblue;
    background-image:url("../assets/underwater.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

.description{
  color:black;
  text-align: center;
}

.about{
  text-align: left;
  padding-top: 10px
  font-style: verdana;
  font-size: 20px;
  color: black;

}

.aboutBG{
  background: lightgreen;
}

.ui-content{
  text-shadow: 0px 0px black;
}

.riddles{
  background: lightblue;
}

.ui-content{
  text-shadow: 0px 0px black;
}

.link{
  background:white;
  padding:5px 5px;
  color:black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.gpNav{
  text-align:center;
  padding:5px;
}

#riddlesHead{
  color: black;
  font-family: fantasy;
}

.home{
  text-shadow: 0px 0px;
  font-size: 20px
}

.info{
  color: black;
}

.inv{
  background: #b6bfc8;
}

.bts{
  background: #ffc7b3;
}

.tour{
  background: #afcfaf;
}

.title{
  text-decoration: underline;
}
